body{
    background-color:rgb(57, 57, 148);
}
h1{
    text-align: center;
    color:white;
}
h2{
    color:white;
}
h3{
    text-align:left;
    font-weight: lighter    ;
    color:white;
}
p{
    color:white
}
footer{
    color:white ;
}
ul{
    color:white
}
